<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
	<appSettings>
		<add key="Region" value="us-east-1"/>
		<add key="BucketName" value="app-test"/>
		<add key="AccessKey" value=""/>
		<add key="SecretKey" value=""/>
		<add key="ServiceUrl" value="https://localhost:44391/S3BucketProxy/HasFileExists"/>
	</appSettings>
</configuration>